{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Подключаем стили -->
    {% block css %}
	{% endblock %}

    <!-- Подключаем шрифт -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700;900&display=swap" rel="stylesheet">

    <!-- Подключаем js jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="{% url 'products:index' %}" class="header__logo__link">FlawlessSkin</a>
                </div>
                <div class="nav">
                    <a class="nav__link" href="{% url 'products:search' %}">Поиск</a>
                    <a class="nav__link" href="{% url 'products:catalog' %}">Каталог</a>
                    <a class="nav__link" href="{% url 'products:favourites' %}">Избранное</a>
                    <a class="nav__link" href="{% url 'products:cart' %}">Корзина</a>
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <a class="dropdown__icon" href="{% url 'users:profile' %}">
{#                                <img src="{% static 'main/img/profile_icon_2.png' %}">#}
{#                                <i class="fa fa-user" aria-hidden="true"></i>#}
                                <i class="fa-solid fa-circle-user fa-xl"></i>
                            </a>
                            <div class="dropdown__content">
                                <a class="dropdown__link" href="{% url 'users:profile' %}">Профиль</a>
                                <a class="dropdown__link" href="{% url 'admin:index' %}">Админ панель</a>
                                <a class="dropdown__link" href="{% url 'users:logout' %}">Выйти</a>
                            </div>
                    </div>
                    {% else %}
                        <a class="nav__link" href="{% url 'users:login' %}">Войти</a>
                    {% endif %}
                </div>
                <div class="burger__menu">
                    <button id="burger__btn">
                        <img src="{% static 'main/img/menu.png' %}" alt="меню">
                    </button>
                    <div id="menu" class="burger__slide">
                        <a class="nav__link block" href="{% url 'products:search' %}">Поиск</a>
                        <a class="nav__link block" href="{% url 'products:catalog' %}">Каталог</a>
                        <a class="nav__link block" href="{% url 'products:favourites' %}">Избранное</a>
                        <a class="nav__link block" href="{% url 'products:cart' %}">Корзина</a>
                        <a class="nav__link block" href="{% url 'users:login' %}">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="footer__section">
                    <h4 class="footer__section__title">Ссылки</h4>
                    <ul class="footer__ul">
                        <li><a href="{% url 'products:index' %}" class="footer__link">Главная</a></li>
                        <li><a href="{% url 'products:catalog' %}" class="footer__link">Каталог товаров</a></li>
                        <li><a href="#" class="footer__link">О нас</a></li>
                        <li><a href="#" class="footer__link">Доставка и оплата</a></li>
                    </ul>
                </div>
                <div class="footer__section">
                    <h4 class="footer__section__title">Контакты</h4>
                    <ul class="footer__ul">
                        <li>Телефон: +7 123 456-78-90</li>
                        <li>Email: FlawlessSkin@ya.ru</li>
                        <li>Адрес: г. Космет, ул. Косметическая, д. 28</li>
                    </ul>
                </div>
                <div class="footer__section">
                    <h4 class="footer__section__title">Подписка на рассылку</h4>
                    <p>Подпишитесь, чтобы получать уведомления о новинках, распродажах и акциях</p>
{#                    <form action="#" method="post">#}
{#                        {% csrf_token %}#}
                        <div class="input__email__wrapper">
                            <input id="input__subscribe" type="email" class="input__email" placeholder="Введите email">
                        </div>
                        <button id="btn__subscribe" type="submit" class="btn__subscribe">Подписаться</button>
{#                    </form>#}
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p>© 2023 FlawlessSkin. Все права защищены.</p>
        </div>
    </footer>
<script>
    let BtnSubscribe = document.getElementById('btn__subscribe');
    let InputSubscription = document.getElementById('input__subscribe');

    BtnSubscribe.addEventListener('click', function() {
        if (!InputSubscription.value) {
            alert("Пожалуйста, введите email адресс");
          }
        else {
            $.ajax({
                type: "GET", // Метод запроса
                url: "{% url 'products:subscribe' %}", // url запроса
                data: {      // Параметры для запроса
                    {#'X-CSRFToken': csrftoken#}
                    'email': InputSubscription.value
                },
                success: function (response) { // Код который выполнится  для удачного запроса
                    if (response.error) {
                        alert(response.error);
                    } else {
                        alert("Вы успешно подписались на рассылку");
                    }
                },
                error: function (response) { // Код который выполнится  при ошибке запроса
                    console.log("error 23");
                    alert("Что-то пошло не так");
                }
            });
            InputSubscription.value = "";
        }
    })
</script>
</body>
</html>
