{% extends 'main/base.html' %}
{% load static %}
{% load humanize %} <!-- {# для отображения цены красиво (10 000)#} -->


{% block css %}
	<link rel="stylesheet" href="{% static 'main/css/card_preview.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/catalog.css' %}">

{% endblock %}


{% block content %}
    <div class="title__wrapper">
        <div class="container">
            <div class="title">
                <h1 class="title">Каталог</h1>
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="container">
            <div class="card__holder">
                {% for product in products_list %}
                    <div class="card__preview">
                        <div class="card__top">
                            <a href="{% url 'products:card-detail' product.id %}" class="card__image">
                              <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'uploads/default_image_2.png' %}{% endif %}" alt="{{ product.title }}"/>
                            </a>
                        </div>
                        <div class="card__bottom">
                            <div class="card__prices">
                              <div class="card__price">{{ product.price|intcomma }}</div>
                            </div>
                            <a href="{% url 'products:card-detail' product.id %}" class="card__title">{{ product.title }}</a>
                            <div class="actions">
                                <a class="add__to__cart" href="{% url 'products:add_to_cart' product.id %}">
                                    в корзину
                                </a>
                                <a class="add__to__favourites" href="{% url 'products:add_to_favourites' product.id %}">
                                    <img src="{% static 'main/img/red_like.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                <h3>Произошла ошибка, каталог не загрузился, пожалуйста, подождите какое-то время</h3>
                {% endfor %}
            </div>
            {% if paginator.num_pages > 1 %}
{#                Всего страниц: {{ paginator.num_pages }} &lt; &gt;#}
            {% endif %}
            <hr>
            <div class="pagination">
                <ul>
                    {% if paginator.num_pages > 1 %}
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&larr;</a></li>
{#                            <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>#}
                        {% endif %}
                        {% for page in paginator.page_range %}
                            {% if page_obj.number == page %}
{#                                {{ page }}#}
                                <li class="disabled">{{ page }}</li>
                            {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&rarr;</a></li>
{#                            <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>#}
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
