{% extends 'main/base.html' %}
{% load static %}
{% load humanize %} <!-- {# для отображения цены красиво (10 000)#} -->

{% block title %}Избранное{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/card_preview.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/favourites.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block content %}
     <div class="title__wrapper">
        <div class="container">
            <div class="title">
                <h1 class="title">Избранное</h1>
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="container">
            <div class="card__holder">
                {% for item in favourites %}
                    <div class="card__preview">
                        <div class="card__top">
                            <a href="{% url 'products:card_detail' item.product.slug %}" class="card__image">
                              <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'uploads/default_image_2.png' %}{% endif %}" alt="{{ item.product.title }}"/>
                            </a>
                        </div>
                        <div class="card__bottom">
                            <div class="card__prices">
                              <div class="card__price">{{ item.product.price|intcomma }}</div>
                            </div>
                            <a href="{% url 'products:card_detail' item.product.slug %}" class="card__title">{{ item.product.title }}</a>
                            <div class="actions">
                                {% if item.product in products_in_cart %}
                                    <a class="in__cart" href="{% url 'products:delete_from_cart' item.product.id %}">в корзине</a>
                                {% else %}
                                    <a class="add__to__cart" href="{% url 'products:add_to_cart' item.product.id %}">в корзину</a>
                                {% endif %}
                                {# здесь корзина удалялась именно по id корзины, а не по id продукта #}
                                {# <a href="{% url 'products:remove_from_favourites' item.id %}">#}

                                {# здесь по id продукта и user'а ищется корзина и удаляется #}
                                <a class="add__to__favourites" href="{% url 'products:remove_from_favourites' item.product.id %}">
                                    <i class="fa-regular fa-trash fa-xl" style="color: #e62d2d;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                <h3>Здесь пока ничего нет</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
