{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Подключаем стили -->
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    {% block css %}
	{% endblock %}

    <!-- Подключаем шрифт -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="{% url 'home' %}" class="header__logo__link">FlawlessSkin</a>
                </div>
                <nav class="nav">
                    <a class="nav__link " href="#">Поиск</a>
                    <a class="nav__link " href="{% url 'catalog' %}">Каталог</a>
                    <a class="nav__link " href="#">Избранное</a>
                    <a class="nav__link " href="{% url 'cart' %}">Корзина</a>
                    <a class="nav__link " href="#">Войти</a>
                </nav>
                <div class="burger__menu ">
                    <button id="burger__btn">
                        <img src="{% static 'main/img/menu.png' %}" alt="меню">
                    </button>
                    <div id="menu" class="burger__slide disp">
                        <a class="nav__link block " href="#">Поиск</a>
                        <a class="nav__link block " href="{% url 'catalog' %}">Каталог</a>
                        <a class="nav__link block " href="#">Избранное</a>
                        <a class="nav__link block " href="{% url 'cart' %}">Корзина</a>
                        <a class="nav__link block " href="#">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer class="bg-dark text-white py-3">
        <div class="container">
            <div class="footer__inner">
                <div class="col-md-4">
                    <h4>Ссылки</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="link">Главная</a></li>
                        <li><a href="#" class="link">Каталог товаров</a></li>
                        <li><a href="#" class="link">О нас</a></li>
                        <li><a href="#" class="link">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Контакты</h4>
                    <ul class="list-unstyled">
                        <li>Телефон: +7 123 456-78-90</li>
                        <li>Email: FlawlessSkin@ya.ru</li>
                        <li>Адрес: г. Космет, ул. Косметическая, д. 28</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Подписка на рассылку</h5>
                    <p>Подпишитесь на нашу рассылку и получайте уведомления о новинках, распродажах и акциях</p>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Введите email">
                        </div>
                        <button type="submit" class="btn btn-primary">Подписаться</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="bg-secondary text-center py-2">
            <p>© 2023 MyCosmetics. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
