{% extends 'main/base.html' %}
{% load static %}
{% load humanize %} <!-- {# для отображения цены красиво (10 000)#} -->
{% load thumbnail %} {# зачем????? #}


{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/card_detail.css' %}">
{% endblock %}

{% block content %}
     <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'uploads/image_2.png' %}{% endif %}"
                     alt="{{ product.title }}" class="product-image">
            </div>
            <div class="col-md-6">
                <h2>{{ product.title }}</h2>
                <p>{{ product.description|safe }}</p>
                <div class="product-details">
                    <dl>
                        <dt>Бренд:</dt>
                        <dd>{{ product.brand }}</dd>

                        <dt>Производство:</dt>
                        <dd>{{ product.country_manufacture }}</dd>

                        <dt>Объём продукта:</dt>
                        <dd>{{ product.volume }} {{ product.get_unit_of_measurement_of_volume_display }}</dd>

                        <dt>Цена:</dt>
                        <dd>{{ product.price|intcomma }} руб.</dd>

                        <dt>Дата поступления товара:</dt>
                        <dd>{{ product.date|date:"d E Y г." }}</dd>
                    </dl>
                </div>
                <div class="buttons">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                    </form>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary">Добавить в избранное</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}











































{##}
{#{% load static %}#}
{#{% load humanize %} <!-- {# для отображения цены красиво (10 000)#} -->#}
{#{% load thumbnail %}#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Карточка товара</title>#}
{#	<!-- Подключаем стили -->#}
{#    <link rel="stylesheet" href="{% static 'main/css/card_detail.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">#}
{##}
{#	<!-- Подключаем шрифт -->#}
{#	<link rel="preconnect" href="https://fonts.googleapis.com">#}
{#	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700;900&display=swap" rel="stylesheet">#}
{#<body>#}
{#    <header id="header" class="header">#}
{#        <div class="container">#}
{#            <div class="header__inner">#}
{#                <div class="header__logo">#}
{#                    <a href="{% url 'home' %}" class="header__logo__link">FlawlessSkin</a>#}
{#                </div>#}
{#                <nav class="nav">#}
{#                    <a class="nav__link " href="#">Поиск</a>#}
{#                    <a class="nav__link " href="{% url 'catalog' %}">Каталог</a>#}
{#                    <a class="nav__link " href="#">Избранное</a>#}
{#                    <a class="nav__link " href="#">Корзина</a>#}
{#                    <a class="nav__link " href="#">Войти</a>#}
{#                </nav>#}
{#                <div class="burger__menu ">#}
{#                    <button id="burger__btn">#}
{#                        <img src="{% static 'main/img/menu.png' %}" alt="">#}
{#                    </button>#}
{#                    <div id="menu" class="burger__slide disp">#}
{#                        <a class="nav__link block " href="#">Поиск</a>#}
{#                        <a class="nav__link block " href="{% url 'catalog' %}">Каталог</a>#}
{#                        <a class="nav__link block " href="#">Избранное</a>#}
{#                        <a class="nav__link block " href="#">Корзина</a>#}
{#                        <a class="nav__link block " href="#">Войти</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </header>#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-6">#}
{#                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'uploads/image_2.png' %}{% endif %}" alt="{{ product.title }}" class="product-image">#}
{#            </div>#}
{#            <div class="col-md-6">#}
{#                <h2>{{ product.title }}</h2>#}
{#                <p>{{ product.description|safe }}</p>#}
{#                <div class="product-details">#}
{#                    <dl>#}
{#                        <dt>Бренд:</dt>#}
{#                        <dd>{{ product.brand }}</dd>#}
{##}
{#                        <dt>Производство:</dt>#}
{#                        <dd>{{ product.country_manufacture }}</dd>#}
{##}
{#                        <dt>Объём продукта:</dt>#}
{#                        <dd>{{ product.volume }} {{ product.get_unit_of_measurement_of_volume_display }}</dd>#}
{##}
{#                        <dt>Цена:</dt>#}
{#                        <dd>{{ product.price|intcomma }} руб.</dd>#}
{##}
{#                        <dt>Дата поступления товара:</dt>#}
{#                        <dd>{{ product.date|date:"d E Y г." }}</dd>#}
{#                    </dl>#}
{#                </div>#}
{#                <div class="buttons">#}
{#                    <form method="POST" action="">#}
{#                        {% csrf_token %}#}
{#                        <button type="submit" class="btn btn-primary">Добавить в корзину</button>#}
{#                    </form>#}
{#                    <form method="POST" action="">#}
{#                        {% csrf_token %}#}
{#                        <button type="submit" class="btn btn-outline-secondary">Добавить в избранное</button>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</body>#}
{#</html>#}
