

<!--    <div class="card__preview card" style="width: 18rem;">-->
<!--        <img src="{{ img_path }}" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--        </div>-->
<!--    </div>-->

<!--<div class="card__preview">-->
<!--    <div class="card__top">-->
<!--        <a href="#" class="card__image">-->
<!--            <img class="img" src="https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"-->
<!--                 alt="Озеро Брайес в Италии" title="Озеро Брайес в Италии">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="card__content">-->
<!--        <div class="card__title">Pragser Wildsee, Italy</div>-->
<!--        <div class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>-->
<!--        <-->
<!--        <div class="card__btn">BOOKING</div>-->
<!--    </div>-->
<!--</div>-->

