{% load static %}
<header id="header" class="header">
	<div class="container">
		<div class="header__inner">
			<div class="header__logo">
				<a href="{% url 'home' %}" class="header__logo__link">FlawlessSkin</a>
			</div>
			<nav class="nav">
				<a class="nav__link " href="#">Поиск</a>
				<a class="nav__link " href="{% url 'catalog' %}">Каталог</a>
				<a class="nav__link " href="#">Избранное</a>
				<a class="nav__link " href="{% url 'cart' %}">Корзина</a>
				<a class="nav__link " href="#">Войти</a>
			</nav>
			<div class="burger__menu ">
				<button id="burger__btn">
					<img src="{% static 'main/img/menu.png' %}" alt="">
				</button>
				<div id="menu" class="burger__slide disp">
					<a class="nav__link block " href="#">Поиск</a>
					<a class="nav__link block " href="{% url 'catalog' %}">Каталог</a>
					<a class="nav__link block " href="#">Избранное</a>
					<a class="nav__link block " href="#">Корзина</a>
					<a class="nav__link block " href="#">Войти</a>
				</div>
			</div>
		</div>
	</div>
</header>