{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>{% block title %}{% endblock %}</title>#}
{#	<!-- Подключаем стили -->#}
{#    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">#}
{#    <style>#}
{#        * {#}
{#	        margin: 0;#}
{#            padding: 0;#}
{#            font-family: 'M PLUS Rounded 1c', sans-serif;#}
{#        }#}
{#        .container {#}
{#            width: 100%;#}
{#            max-width: 1200px;#}
{#            margin: 0 auto;#}
{#            /*background-color: rgba(0, 0, 0, 0);*/#}
{#        }#}
{#    </style>#}
{#	{% block styles %}#}
{#	{% endblock %}#}
{#	<!-- Подключаем шрифт -->#}
{#	<link rel="preconnect" href="https://fonts.googleapis.com">#}
{#	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700;900&display=swap" rel="stylesheet">#}
{#<body>#}
{#    <header id="header" class="header">#}
{#        <div class="container">#}
{#            <div class="header__inner">#}
{#                <div class="header__logo">#}
{#                    <a href="{% url 'home' %}" class="header__logo__link">FlawlessSkin</a>#}
{#                </div>#}
{#                <nav class="nav">#}
{#                    <a class="nav__link " href="#">Поиск</a>#}
{#                    <a class="nav__link " href="{% url 'catalog' %}">Каталог</a>#}
{#                    <a class="nav__link " href="#">Избранное</a>#}
{#                    <a class="nav__link " href="#">Корзина</a>#}
{#                    <a class="nav__link " href="#">Войти</a>#}
{#                </nav>#}
{#                <div class="burger__menu ">#}
{#                    <button id="burger__btn">#}
{#                        <img src="{% static 'main/img/menu.png' %}" alt="">#}
{#                    </button>#}
{#                    <div id="menu" class="burger__slide disp">#}
{#                        <a class="nav__link block " href="#">Поиск</a>#}
{#                        <a class="nav__link block " href="{% url 'catalog' %}">Каталог</a>#}
{#                        <a class="nav__link block " href="#">Избранное</a>#}
{#                        <a class="nav__link block " href="#">Корзина</a>#}
{#                        <a class="nav__link block " href="#">Войти</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </header>#}
{#    {% block content %}#}
{#    {% endblock %}#}
{#</body>#}
{#</html>#}
